* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

.section-1-bg {
  background-color: #22babb;
  background: url(img/wall.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  overflow: hidden;
}

.icon-menu {
  width: 45px;
  height: 45px;
  margin-top: 15px;
  margin-right: 30px;
}

.icon-menu {
  color: aliceblue;
  font-size: 60px;
}

.icon-menu :hover {
  color: #fac108;
  cursor: pointer;
}

#barra-menu i {
  font-size: 20px;
}

#barra-menu {
  background: #f24405;
  height: 100vh;
  width: 0px;
  transition: 0.3s all;
}

#barra-menu ul li {
  list-style: none;
  padding: 15px;
}

#barra-menu ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 10px;
  width: 100%;
}

#barra-menu ul li a:hover {
  color: #fac108;
}

.main-tittle {
  margin: auto;
  width: 87%;
  height: 100vh;
}

.logo-fmx img {
  margin: 7px;
  height: 140px;
  border-radius: 50%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fac108;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 3px 3px 10px #00000091;
}

h1 {
  width: 600px;
  font-size: 60px;
  color: #fac108;
  line-height: 60px;
  text-shadow: 3px 3px 0px #f24405;
}

p {
  background: #f24405ea;
  color: #ffff;
  font-size: 18px;
  text-align: justify;
  width: 500px;
  height: 300px;
  margin-top: 50px;
  padding: 29px;
  border-radius: 30px 0px 30px 0px;
  box-shadow: 3px 3px 10px #00000091;
}

.fox-img img {
  height: 550px;
  border-radius: 50%;
  box-shadow: 3px 3px 10px #00000091;

  animation: moveFox 2s infinite alternate ease-in-out;
}

.contant {
  margin: 60px;
  display: flex;
  justify-content: space-around;
}

@keyframes moveFox {
  from {
    transform: translate(-5%, -5%) rotate(-5deg);
  }
}
